<a href="https://colab.research.google.com/github/yurikanade9/datab/blob/main/%EC%8B%A4%EC%8A%B502(%EA%B3%BC%EC%A0%9C)_%EC%8B%9C%EC%B9%B4%EA%B3%A0_%EC%9D%B8%EA%B5%AC%EC%A1%B0%EC%82%AC%2C_%EA%B3%B5%EB%A6%BD%ED%95%99%EA%B5%90%2C_%EB%B2%94%EC%A3%84_%EB%B0%B0%ED%8F%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 소개

이 Python notebook 을 사용하여 다음을 수행한다:

1. 시카고의 세 가지 데이터 세트를 이해한다  
2. 세 가지 데이터 세트를 SQLite 데이터베이스의 세 개 테이블에 로드한다  
3. SQL 쿼리를 실행하여 과제 질문에 답한다

## 데이터 세트 이해하기

이 노트북의 과제를 완료하려면 시카고 데이터 포털에서 제공하는 다음 세 가지 데이터 세트를 사용해야 한다:

1.  <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Socioeconomic Indicators in Chicago</a>  
2.  <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Public Schools</a>  
3.  <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Crime Data</a>  

### 1. Socioeconomic Indicators in Chicago(시카고의 사회경제적 지표)

이 데이터 세트에는 공중 보건과 관련된 6가지 사회경제적 지표와 2008-2012년 동안 각 시카고 커뮤니티 지역의 "Hardship Index"가 포함되어 있다.

이 데이터 세트에 대한 자세한 설명과 원본 데이터 세트는 시카고 데이터 포털에서 확인할 수 있다:  

[https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2](https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 2. Chicago Public Schools(시카고 공립학교)

이 데이터 세트는 2011-2012 학년도 CPS 학교 보고서 카드를 생성하는 데 사용된 모든 학교 수준의 성과 데이터를 보여준다. 이 데이터 세트는 시카고 데이터 포털에서 제공된다.

이 데이터 세트에 대한 자세한 설명과 원본 데이터 세트는 시카고 데이터 포털에서 확인할 수 있다:  

[https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 3. Chicago Crime Data(시카고 범죄 데이터)

이 데이터 세트는 2001년부터 현재까지 시카고 시에서 발생한 범죄(피해자별 데이터를 포함한 살인 사건은 제외)를 반영하며, 최신 7일간의 데이터는 제외되어 있다.

이 데이터 세트에 대한 자세한 설명과 원본 데이터 세트는 시카고 데이터 포털에서 확인할 수 있다:  

[https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2](https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 데이터 세트 다운로드

이 과제는 전체 데이터 세트의 하위 집합으로 채워진 세 개의 테이블이 필요하다.

분석할 데이터 세트는 일반적으로 인터넷에서 제공되는 .CSV(쉼표로 구분된 값) 파일 형식으로 제공되는 경우가 많다.

아래 링크를 사용하여 Pandas 라이브러리를 이용해 데이터 파일을 읽어라.

- 시카고 인구 조사 데이터  
[Chicago Census Data](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01)

- 시카고 공립학교  
[Chicago Public Schools](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01)

- 시카고 범죄 데이터  
[Chicago Crime Data](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01)

**참고:**  
위 링크에 있는 데이터 세트를 사용하고 시카고 데이터 포털에서 직접 다운로드하지 않도록 하라. 여기 제공된 버전은 원본 데이터 세트의 하위 집합으로, 일부 열 이름이 데이터베이스에 더 친화적이도록 수정되어 이 과제를 완료하기 더 쉬울 것이다.

### 데이터 세트를 데이터베이스 테이블에 저장하기

SQL을 사용하여 데이터를 분석하려면 먼저 SQLite DB에 데이터를 로드해야 한다.  
다음과 같이 세 개의 테이블을 생성할 것이다:

1.  **CENSUS_DATA**  
2.  **CHICAGO_PUBLIC_SCHOOLS**  
3.  **CHICAGO_CRIME_DATA**

`pandas`와 `sqlite3` 라이브러리를 로드하고 `FinalDB.db`에 연결을 설정하자.

In [1]:
import csv, sqlite3

con = sqlite3.connect("FinalDB.db")
cur = con.cursor()

Load the SQL magic module

In [2]:
%load_ext sql
%sql sqlite:///FinalDB.db

위 링크에서 제공된 데이터를 `Pandas`를 사용하여 데이터프레임으로 로드하라.  
이 데이터프레임을 사용하여 데이터베이스 `FinalDB.db`에 필요한 테이블로 데이터를 로드하라.

In [3]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01")
df.to_sql("CENSUS_DATA", con, if_exists='replace', index=False, method="multi")

df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01")
df.to_sql("CHICAGO_PUBLIC_SCHOOLS", con, if_exists='replace', index=False, method="multi")

df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01")
df.to_sql("CHICAGO_CRIME_DATA", con, if_exists='replace', index=False, method="multi")

533

SQL magic 모듈과 데이터베이스 `FinalDB.db` 간의 연결을 설정하자.

In [11]:
%sql sqlite:///FinalDB.db

이제 아래 질문들에 답할 준비가 되었다.  
문제에 대한 답변뿐만 아니라 작성한 코드도 저장하자.

## Problems

Now write and execute SQL queries to solve assignment problems

### Problem 1

##### Find the total number of crimes recorded in the CRIME table.
##### CRAME 테이블에 기록된 총 범죄 수

In [5]:
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [7]:
%sql select count(*) from CHICAGO_CRIME_DATA;

 * sqlite:///FinalDB.db
Done.

[(533,)]

### Problem 2

##### List community area names and numbers with per capita income less than 11000.
##### 1인당 소득이 11000 미만인 커뮤니티 지역 이름과 번호 나열

In [16]:
%sql select "COMMUNITY_AREA_NAME", "PER_CAPITA_INCOME" from "CENSUS_DATA"where "PER_CAPITA_INCOME"<11000 ;

 * sqlite:///FinalDB.db
Done.

[('West Garfield Park', 10934),
 ('South Lawndale', 10402),
 ('Fuller Park', 10432),
 ('Riverdale', 8201)]

### Problem 3

##### List all case numbers for crimes involving minors?(children are not considered minors for the purposes of crime analysis)
##### 미성년자 관련 범죄에 대한 모든 사건번호 나열(단, 범죄분석 목적상 아동은 미성년자로 간주하지 않음)

In [23]:
%sql select "CASE_NUMBER" from "CHICAGO_CRIME_DATA" where "DESCRIPTION" like '%MINOR%';

 * sqlite:///FinalDB.db
Done.

[('HL266884',), ('HK238408',)]

### Problem 4

##### List all kidnapping crimes involving a child?
##### 아이와 관련된 모든 납치 범죄를 나열

In [25]:
%sql select * from "CHICAGO_CRIME_DATA" where "PRIMARY_TYPE"="KIDNAPPING" and "DESCRIPTION" like '%CHILD%';

 * sqlite:///FinalDB.db
Done.

[(5276766, 'HN144152', '2007-01-26', '050XX W VAN BUREN ST', '1792', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER', 'STREET', 0, 0, 1533, 15, 29.0, 25.0, '20', 1143050.0, 1897546.0, 2007, 41.87490841, -87.75024931, '(41.874908413, -87.750249307)')]

### Problem 5

##### List the kind of crimes that were recorded at schools. (No repetitions)
##### 학교에서 기록된 범죄의 종류를 나열합니다. (반복 금지)

In [30]:
%sql select distinct "PRIMARY_TYPE" from "CHICAGO_CRIME_DATA" where "LOCATION_DESCRIPTION" like '%SCHOOL%';

 * sqlite:///FinalDB.db
Done.

[('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('NARCOTICS',),
 ('ASSAULT',),
 ('CRIMINAL TRESPASS',),
 ('PUBLIC PEACE VIOLATION',)]

### Problem 6

##### List the type of schools along with the average safety score for each type.
##### 각 유형별 평균 안전 점수와 함께 학교 유형을 나열

In [32]:
%sql select "Elementary, Middle, or High School",avg("SAFETY_SCORE") from "CHICAGO_PUBLIC_SCHOOLS" group by "Elementary, Middle, or High School";

 * sqlite:///FinalDB.db
Done.

[('ES', 49.52038369304557), ('HS', 49.62352941176471), ('MS', 48.0)]

### Problem 7

##### List 5 community areas with highest % of households below poverty line
##### 빈곤선 이하 가구 비율이 가장 높은 지역 5개 지역 목록

In [34]:
%sql select "COMMUNITY_AREA_NAME", "COMMUNITY_AREA_NUMBER", "PERCENT_HOUSEHOLDS_BELOW_POVERTY" from "CENSUS_DATA" order by "PERCENT_HOUSEHOLDS_BELOW_POVERTY" desc limit 5;

 * sqlite:///FinalDB.db
Done.

[('Riverdale', 54.0, 56.5),
 ('Fuller Park', 37.0, 51.2),
 ('Englewood', 68.0, 46.6),
 ('North Lawndale', 29.0, 43.1),
 ('East Garfield Park', 27.0, 42.4)]

### Problem 8

##### Which community area is most crime prone? Display the coumminty area number only.
##### 범죄가 가장 많이 발생하기 쉬운 지역은? 지역 번호만 표시합니다.

In [40]:
%sql select "COMMUNITY_AREA_NUMBER" from "CHICAGO_CRIME_DATA" where "COMMUNITY_AREA_NUMBER" group by "COMMUNIRTY_AREA_NUMBER" order by count(*) desc limit 1;

 * sqlite:///FinalDB.db
Done.

[(58.0,)]


Double-click **here** for a hint

<!--
가장 많은 사건이 발생한 'community area number'를 쿼리하자
-->

### Problem 9

##### Use a sub-query to find the name of the community area with highest hardship index
##### 하위 쿼리를 사용하여 고난도 지수가 가장 높은 커뮤니티 영역의 이름 찾기

In [42]:
%sql select "COMMUNITY_AREA_NAME" from "CENSUS_DATA" where "HARDSHIP_INDEX" = (select max("HARDSHIP_INDEX")from "CENSUS_DATA");

 * sqlite:///FinalDB.db
Done.

[('Riverdale',)]

### Problem 10

##### Use a sub-query to determine the Community Area Name with most number of crimes?
##### 하위 쿼리를 사용하여 범죄가 가장 많은 커뮤니티 영역 이름을 나타내시오.

In [43]:
%sql SELECT COMMUNITY_AREA_NAME \
FROM CENSUS_DATA \
WHERE COMMUNITY_AREA_NUMBER = ( \
    SELECT COMMUNITY_AREA_NUMBER \
    FROM CHICAGO_CRIME_DATA \
    GROUP BY COMMUNITY_AREA_NUMBER \
    ORDER BY COUNT(*) DESC \
    LIMIT 1 \
);

 * sqlite:///FinalDB.db
Done.

[('Austin',)]